Bai 1

In [1]:
num_list = [3,4,5,1,-44,5,10,12,33,1]
k = 3
sub_list = []
result = []
for num in num_list:
    sub_list.append(num)
    if len(sub_list) == k:
        result.append(max(sub_list))
        del sub_list[0]
print(result)

[5, 5, 5, 5, 10, 12, 33, 33]

Bai 2

In [10]:
word = 'Happy'
lower_word = word.lower()
result = {}
for char in lower_word:
    if char in result:
        result[char] += 1
    else:
        result[char] = 1
print(result)

{'h': 1, 'a': 1, 'p': 2, 'y': 1}

Bai 3

In [11]:
!gdown https://drive.google.com/uc?id=1IBScGdW2xlNsc9v5zSAya548kNgiOrko

Downloading...
From: https://drive.google.com/uc?id=1IBScGdW2xlNsc9v5zSAya548kNgiOrko
To: /content/P1_data.txt
100% 747/747 [00:00<00:00, 3.12MB/s]

In [19]:
sentence = open("/content/P1_data.txt", "r")
data = sentence.read()
sentence.close()

data = data.lower()
words = data.split()
result = {}
for word in words:
    if word in result:
        result[word] += 1
    else:
        result[word] = 1
print(result)

{'he': 1, 'who': 3, 'conquers': 1, 'himself': 1, 'is': 3, 'the': 5, 'mightiest': 1, 'warrior': 1, 'try': 2, 'not': 1, 'to': 3, 'become': 2, 'a': 7, 'man': 6, 'of': 4, 'success': 3, 'but': 1, 'rather': 1, 'value': 1, 'one': 4, 'with': 4, 'courage': 1, 'makes': 1, 'majority': 1, 'secret': 1, 'in': 4, 'life': 2, 'for': 3, 'be': 1, 'ready': 1, 'his': 2, 'opportunity': 1, 'when': 2, 'it': 2, 'comes': 2, 'successful': 2, 'will': 2, 'profit': 1, 'from': 1, 'mistakes': 1, 'and': 1, 'again': 1, 'different': 1, 'way': 1, 'can': 3, 'lay': 1, 'firm': 1, 'foundation': 1, 'bricks': 1, 'others': 1, 'have': 1, 'thrown': 1, 'at': 1, 'him': 1, 'usually': 1, 'those': 1, 'are': 1, 'too': 1, 'busy': 1, 'looking': 1, 'we': 3, 'cannot': 1, 'solve': 1, 'problems': 1, 'kind': 1, 'thinking': 1, 'employed': 1, 'came': 1, 'up': 1, 'them': 1, 'just': 2, 'small': 1, 'positive': 1, 'thought': 1, 'morning': 1, 'change': 1, 'your': 1, 'whole': 1, 'day': 1, 'you': 3, 'get': 2, 'everything': 1, 'want': 2, 'if': 1, 'help': 1, 'enough': 1, 'other': 1, 'people': 1, 'what': 1, 'they': 1}

In [22]:
def max_kernel ( num_list , k ) :
    result = []
    sub_list = []




    for num in num_list:
        sub_list.append(num)
        if len(sub_list) == k:
            result.append(max(sub_list))
            del sub_list[0]

    return result

assert max_kernel ([3 , 4 , 5 , 1 , -44] , 3) == [5 , 5 , 5]
num_list = [3 , 4 , 5 , 1 , -44 , 5 ,10 , 12 ,33 , 1]
k = 3
print ( max_kernel ( num_list , k ) )

[5, 5, 5, 5, 10, 12, 33, 33]

In [32]:
def character_count ( word ) :
    character_statistic = {}

    for char in word:
        if char in character_statistic:
            character_statistic[char] += 1
        else:
            character_statistic[char] = 1

    return character_statistic
assert character_count ('Baby') == {'B': 1 , 'a': 1 , 'b': 1 , 'y': 1}
print ( character_count ('smiles') )

{'s': 2, 'm': 1, 'i': 1, 'l': 1, 'e': 1}

In [33]:
def my_function ( data , max , min) :
    result = []
    for i in data :
        4 # Your code here
        5 # Neu i < min thi them min vao result
        if i < min :
            result . append ( min )
        elif i > max :
            result . append ( max )
        else :
            result . append ( i )
    return result
my_list = [5 , 2 , 5 , 0 , 1]
max = 1
min = 0
assert my_function (max = max , min = min , data = my_list ) == [1 , 1 , 1 , 0 , 1]
my_list = [10 , 2 , 5 , 0 , 1]
max = 2
min = 1
print ( my_function (max = max , min = min , data = my_list ) )

[2, 2, 2, 1, 1]

In [36]:
def my_function (x , y ) :
    #sử dụng extend
    x.extend(y)
    return x

list_num1 = ['a', 2 , 5]
list_num2 = [1 , 1]
list_num3 = [0 , 0]

assert my_function ( list_num1 , my_function ( list_num2 , list_num3 ) ) == ['a', 2 , 5 , 1 , 1 ,
0 , 0]
list_num1 = [1 , 2]
list_num2 = [3 , 4]
list_num3 = [0 , 0]
print ( my_function ( list_num1 , my_function ( list_num2 , list_num3 ) ) )

[1, 2, 3, 4, 0, 0]

In [43]:
def my_function ( n ) :
    n.sort()
    return n[0]

my_list = [1 , 22 , 93 , -100]
assert my_function ( my_list ) == -100
my_list = [1 , 2 , 3 , -1]
print ( my_function ( my_list ) )

-1

In [45]:
def my_function ( n ) :
    n.sort()
    return n[-1]

my_list = [1001 , 9 , 100 , 0]
assert my_function ( my_list ) == 1001
my_list = [1 , 9 , 9 , 0]
print ( my_function ( my_list ) )

9